
.ant-col-8{
    text-align: left;
}

/* .ant-form-item{
    position: relative;
    height: 45px;
}
.ant-form-item-label{
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 9999;
}
.ant-form-horizontal .ant-form-item-control {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
} */